:root {
}

body {
  font-family: "Montserrat", sans-serif;
  color: #111111;
  font-weight: 400;
  background-color: #e9e9e9;
  width: 1200px;
  margin: auto;
  border: 1px solid #8cd9ff;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px;
  width: 1200px;
  height: 72px;
}

.nav-container {
  display: flex;
}

.logo {
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111111;
}

.sub-logo {
  font-style: normal;
}

.logo-pic {
  margin: 0 447px 0 4px;
}

.nav-items-list {
  display: flex;
  /* margin-left: 447px; */
  justify-content: space-between;
  align-items: center;
  width: 320px;
}

.nav-item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  align-items: center;
  letter-spacing: -0.02em;
  color: #111111;
}

.social-contact {
  display: flex;
  justify-content: space-between;
  margin: 24px;
  width: 66px;
}

/* Section-1 Hero */
.hero-section {
  margin: 0 auto;
}

.hero-container {
  background: linear-gradient(
    180deg,
    rgba(17, 17, 17, 0) 0%,
    rgba(17, 17, 17, 0.4) 100%
  );
  background-image: url("./chocolate-hero-bg.jpg");
  border-radius: 24px;
  width: 1136px;
  height: 600px;
  margin: 0 32px 72px 32px;
  padding: 381px 40px 40px 40px;
}

.hero-title {
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #ffffff;
  margin: 0 572px 32px 0;
}

.benefits-list-title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.benefits-list-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

.orange-btn {
  cursor: pointer;
  width: 144px;
  height: 45px;
  background: #fd9222;
  border-radius: 100px;
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.made-link {
  cursor: pointer;
  text-align: center;
  width: 183px;
  height: 45px;
  border: 1px solid #ffffff;
  border-radius: 100px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #ffffff;
  padding: 14px 38px;
}

.scroll-link {
  width: 78px;
  height: 18px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #ffffff;
  margin-left: 585px;
}

.hero-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Benefits Section */
.benefits-section {
  margin-bottom: 100px;
  width: 1200px;
  height: 344px;
  left: 0px;
  top: 752px;
  background: #1e1823;
}

.benefits-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.benefits-list-item {
  margin: 50px;
  width: 326px;
  height: 243px;
}

/* Taste Section */
.taste-title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  padding: 0px;
  gap: 28px;
  width: 486px;
  height: 156px;
  margin: auto;
  padding: 0;
}

.section-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111111;
  padding: 0;
  margin: 0 37.5px 0;
}

.sub-title-color {
  color: #fd9222;
}

.taste-text {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: #111111;
  margin: 0;
}

.taste-list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding: 0 32px 0;
}

.taste-list-item-1 {
  width: 270px;
  height: 270px;
  background: #fd9222;
  border-radius: 15px;
  padding: 28px;
}

.taste-list-item-2-4 {
  width: 270px;
  height: 270px;
  background: #ffffff;
  border: 1px solid #fd9222;
  border-radius: 15px;
  padding: 28px;
}

.taste-list-item-3 {
  width: 270px;
  height: 270px;
  background: #1e1823;
  border-radius: 15px;
  padding: 28px;
}

.taste-list-title-1-3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

.taste-list-title-2-4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
}

.taste-list-pic {
  margin-bottom: 36px;
}

/* How It`S Made? */
.made-section {
  margin-top: 100px;
  padding: 0 32px 0;
}

.made-img {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(pastry-chef-preparing-chocolate-cake.jpg);
  border-radius: 15px;
}

.made-section-container {
  /* width: 1200px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.made-section-container-text {
  flex-direction: column;
  background: #ffffff;
  border-radius: 15px;
  margin-left: 20px;
  padding: 32px;
}

.made-section-container-title {
  width: 370px;
  margin: 0 0 4px 0;
}

.made-section-container-list {
  padding: 0;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111111;
  margin: 0 0 0 20px;
}

.made-section-container-list-item {
  margin: 24px 14px 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111111;
}

/* Reviews Section */
.review-section {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding: 0 32px 0;
}

.review-section-title {
  margin: 0 0 50px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111111;
  padding: 0;
}

.review-section-list {
  display: flex;
  justify-content: space-between;
  margin: 0 0 49px 0;
  align-items: center;
  text-align: center;
}

.review-list-item {
  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.04932px 100px rgba(17, 17, 17, 0.03);
  border-radius: 15px;
  width: 360px;
  height: 200px;
  padding: 24px;
  margin-top: 41px;
}

.customer-img {
  position: absolute;
}

.customer-name {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111111;
  margin: 32px 0 24px 0;
}

.customer-comment {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}

.review-btn {
  cursor: pointer;
  padding: 14px 40px;
  gap: 14px;
  width: 222px;
  height: 50px;
  border: 1px solid #fd9222;
  border-radius: 100px;
  align-self: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #111111;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  background: #1e1823;
  margin-top: 100px;
  padding: 32px;
}

.footer-first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.footer-second-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 18px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-title {
  text-transform: none;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin-right: 672px;
}

.contacts-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
  color: #ffffff;
  margin-bottom: 14px;
}

.contacts-links {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.nav-footer-item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  align-items: center;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.subscribe-cont {
  flex-wrap: nowrap;
}

.subscribe-btn {
  cursor: pointer;
  padding: 17px 30px;
  isolation: isolate;
  width: 137px;
  height: 52px;
  background: #fd9222;
  border-radius: 100px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}

.text-field-mail {
  background: #1e1823;
  width: 313px;
  height: 52px;
  border: 1.5px solid rgba(255, 255, 255, 0.149);
  border-radius: 30px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.302);
  padding: 14px 24px;
}
